<%= render 'shared/kubmo_logo_2' %>

<div id="page_wrapper">

  <div id="overview">
    <h2>We provide smartphone packages to young women in Kenya so they have the resources to start their own companies.</h2>
    <p id="p1">We are starting by testing out our prototype with <a href="#marriel">Marriel</a>.</p>
    <p id="p2">From there, will spread the program throughout Kenya, and eventually to other countries.</p>
    <p id="p3">In August, we are travelling to Kenya to put on a workshop in partnership with the Muthaa Development Foundation.  We will be providing smartphone packages and guidance to 30 girls who go through our application process.</p>
  </div>
    
  <%= render 'shared/get_involved_sidebar' %>   
    
    
  <div id="marriel">
    <img src="/images/marriel_facebook.png" alt="marriel" />
    <div id="text"> 
      <h3>Marriel</h3>

      <ul>
        <li>
          <h4>Age: </h4>
          <p>19</p>
        </li>

        <li>
          <h4>Location: </h4>
          <p>Nairobi, Kenya</p>
        </li>

        <li>
          <h4>Her situation:</h4>
          <p> Marriel lives in the largest slum in Kenya. She was originally a part of the Maasai tribe. She raises her five younger siblings while attending school and making jewelry with her mom to support her family. They live in extreme poverty, because her polygamist father left her family when her mom refused to marry Marriel off at the age of 13. Girls are seen as inferior in the Maasai culture. Marriel underwent the inhumane act of female genital mutilation when she was only 9 years old. </p>
        </li>

        <li>
          <h4>What she wants to do:</h4>
          <p> Marriel wants to start her own curio jewelry shop in Kenya to be able to attend secondary school and college, pay for her siblings to go to school, and end the cycle of extreme poverty that plagues her family. </p>
        </li>

        <li>
          <h4>What she needs technology for:</h4>
           <ul>
            <li><p>To market the jewelry</p></li>
            <li><p>To sell her product online</p></li>
            <li><p>To manage her finances</p></li>
            <li><p>To communicate and receive loans from microfinance institutions</p></li>
            <li><p>To create connections with potential partners</p></li>
            <li><p>To research</p></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>






 
	