<div id="kubmo_logo">
  <a href="/home"><img src="/images/logo_small.png" alt="kubmo logo"></a>
  <div id="line"></div>
</div>

<div id="kate_img">
    <img src="/images/girl_in_kenya.jpg" alt="kubmo logo">
</div>

<div id="text">
    <h1>Kate</h1>
    <h2>Age:</h2>
    <p>21</p>
    <h2>Location:</h2>
    <p>Nairobi, Kenya</p>
    <h2>Her situation:</h2>
    <p>Both of her parents died when she was younger. She does not have enough money to attend high school or college</p>
    <h2>What she wants to do:</h2>
    <p>After learning about a 9-year-old girl who was circumsized, then forced to marry a 60-year-old man, she wants to create a rescue center for girls who run away from traditional cultures in Kenya. She wants the center to provide education and a safe place to live.</p>
    <h2>What she needs technology for:</h2>
    <ul>
      <li>To find sponsors</li>
      <li>To manage finances</li>
      <li>To find connections</li>
      <li>To raise money</li>
      <li>To look for scholarships</li>
      <li>To research</li>
    </ul>
</div>  

<div id="comment">	
	<form action="/comments">
		<input name="comments"> </input>
		<button> Submit </button>
	</form>	
</div>	

<div id="response">
	<a href="/yes"> <button> Yes </button> </a>
	<a href="/no"> <button> No </button> </a>
</div>
		