<%= render 'shared/kubmo_logo_2' %>

<div id="kate_img">
  <img src="/images/kate_img.png" alt="kubmo logo">
</div>

<div id="kate">

<div class="text">

  <h1>Kate</h1>
  <h2>Age:</h2>
    <p>21</p>
  <h2>Location:</h2>
    <p>Nairobi, Kenya</p>
  <h2>Her situation:</h2><br><br>
    <p>Both of her parents died when she was younger. She does not have enough money to attend high school or college</p>
  <h2>What she wants to do:</h2><br><br>
    <p>She wants to open a curio shop that sells jewelry and other arts and crafts from her area. She wants to target tourists in Nairobi and also teach them about Kenyan culture. Using the revenue from the shop, she wants to pay for herself to attend secondary school and college.</p><br.<br><br>
  
<div class="why_tech">

  <h2>What she needs technology for:</h2> <br><br>
    <ul>
      <li>To find sponsors</li>
      <li>To manage finances</li>
      <li>To find connections</li>
      <li>To raise money</li>
      <li>To look for scholarships</li>
      <li>To research</li>
    </ul>
</div> 
</div>
</div>

<div id="kate_comment">	
	<form action="/comments">
		<input type="text" id="field" name="email" placeholder="Comment"> 
		  <button id="kate_button"> Submit </button>
	</form>	
</div>	
<div id="kate_response">
  <p>would you donate?</p>
  <div id="kate_button"> 
    <a href="/yes"> <button> Yes </button> </a>
    <a href="/no"> <button> No </button> </a>
  </div>
</div>
		