<div class="top_nav">
    <ul id="navbar">
      <li><a href="about">about us</a><ul></ul>
      </li>

      <li><a href="why_donate">why donate</a><ul></ul>
      </li>
      
      <li><a href="marriel">fund a device</a><ul>
        <li><a href="/marriel" class="call-to-action">Marriel</a></li>
        <li><a href="/kate" class="call-to-action">Kate</a></li></ul>
        </li>

      <li><a id="contact" href="/contact" class="call-to-action">contact us</a>
      </li>
      <li><a id="blog" href="/blog" class="call-to-action">blog</a></li>
      <li><a href="https://www.facebook.com/pages/Kubmo/502648673114461"><img src="/images/facebook.png"></a></li>
      <li><a href="https://twitter.com/Kubmo"><img src="/images/twitter.png"></a></li>
      <li><a href="mailto:kubmoteam@gmail.com?subject=Hello Kubmo"><img src="/images/email.png"></a>
    </ul>
  </li>	
	
<div class="marriel">	
	<div id="comment">
		<form action="/comments">
			<input name="comments"> </input>
			<button> Submit </button>
		</form>	
	</div>	

	<div id="response">
		<a href="/yes"> <button> Yes </button> </a>
		<a href="/no"> <button> No </button> </a>
	</div>
		
</div>


