<%= render 'shared/kubmo_logo_2' %>

<div id="the_cause">

  <div id="overview">
    <h1>We provide smartphone packages to young women in Kenya so they have the resources to start their own companies.</h1>
    <p>We are starting by testing out our prototype with</p>
    <a href="link_to_marriel">Marriel.</a>
    <p>From there, will spread the program throughout Kenya, and eventually to other countries.</p>
    <p>In August, we are travelling to Kenya to put on a workshop in partnership with the Muthaa Development Foundation.  We will be providing smartphone packages and guidance to 30 girls who go through our application process.</p>
  </div>
  
  <div id="get_involved_sidebar">
    
    <div id="fund"> 
      <p>Help us fund smartphone packages and put on our first workshop in Kenya</p>
      <button id="fund">
        <a href="http://www.indiegogo.com/projects/kubmo">
          Help fund a device
        </a>
      </button>
    </div>
    
    <div id="spread">
      <p>Spread the message to your followers</p>
      <ul id="share">
        <li>
            <a id="facebook_about" href="https://www.facebook.com/pages/Kubmo/502648673114461">
              <img src="/images/facebook_black.jpeg" />
            </a>
          </li>
    
          <li>
            <a id="twitter_about" href="https://twitter.com/Kubmo">
             <img src="/images/twitter_black.jpeg" />
            </a>
          </li>

          <li>
            <a id="tumblr_about" href="http://kubmo.tumblr.com/">
             <img src="/images/tumblr_black.jpg" />
            </a>
          </li>
          </ul>
    </div>

    <div id="email_us">
      <p>Partner with us or become a member of our advisory board</p>
      <a id="about_mail" href="mailto:kubmoteam@gmail.com?subject=Hello Kubmo">
            <img src="/images/mail_black.jpeg"/>
          </a>
      </div>
      
      <div id="sign_up">
        <p>Sign up for updates</p>
        <form action= "/signup">
        <input type="text" id="field" name="email" placeholder="Email"> 
          <button id="about_click"> 
            <p>Join</p>
          </button>
        </input>  
      </form>
    </div>

</div>
  
  
  <div class="text">

    <h1>Marriel</h1>
    <h2>Age: </h2>
      <p>19</p>
    <h2>Location: </h2>
     <p>Nairobi, Kenya</p>
    <h2>Her situation:</h2><br><br>
      <p> Marriel lives in the largest slum in Kenya. She was originally a part of the Maasai tribe. She raises her five younger siblings while attending school and making jewelry with her mom to support her family. They live in extreme poverty, because her polygamist father left her family when her mom refused to marry Marriel off at the age of 13. Girls are seen as inferior in the Maasai culture. Marriel underwent the inhumane act of female genital mutilation when she was only 9 years old. </p>
    <h2>What she wants to do:</h2><br><br>
      <p> Marriel wants to start her own curio jewelry shop in Kenya to be able to attend secondary school and college, pay for her siblings to go to school, and end the cycle of extreme poverty that plagues her family. </p>
  
  <div class="why_tech">
    <h2>What she needs technology for:</h2>
      <br><br>
      <ul>
        <li>To market the jewelry</li>
        <li>To sell her product online</li>
        <li>To manage her finances</li>
        <li>To communicate and receive loans from Kiva</li>
        <li>To apply for college</li>
        <li>To research</li>
     </ul>
  </div>  
</div>

<button id="click_marriel">
      <a href="https://www.indiegogo.com/projects/kubmo">Donate!</a>
</button>






 
	