<%= render 'shared/kubmo_logo_2' %>

<img id="marriel_img" src="/images/marriel_girls.jpg" alt="Marriel" />

<div id="marriel">
  
  <div class="text">

  <h1>Marriel</h1>
  <h2>Age:</h2>
    <p>  19</p>
  <h2>Location:</h2>
    <p>Nairobi, Kenya</p>
  <h2>Her situation:</h2> <br><br>
    <p>  Both of her parents died when she was younger. She does not have enough money to attend high school or college</p>
  <h2>What she wants to do:</h2> <br><br>
    <p>  After learning about a 9-year-old girl who was circumsized, then forced to marry a 60-year-old man, she wants to create a rescue center for girls who run away from traditional cultures in Kenya. She wants the center to provide education and a safe place to live.</p>
  <h2>Why</h2> <br><br>
    <p>Marriel grew up in the Maasai tribe, where her and her mother faced abuse and abondonment. Her father left their family when she was 6-years-old, and he now only supports his third wife. Marriel wants to be able to support herself through college so that she can one day become a lawyer and help girls like herself coming out of the Maasai tribe.</p>
  
<div class="why_tech">
  <h2>What she needs technology for:</h2>
  <br><br>
    <ul>
      <li>To find sponsors</li>
      <li>To manage finances</li>
      <li>To find connections</li>
      <li>To raise money</li>
      <li>To look for scholarships</li>
      <li>To research</li>
    </ul>
</div>    

  </div>

</div>  
<div id="comment">  
  <form action="/comments">
    <input name="comments"> </input>
    <button> Submit </button>
  </form> 
</div>  
<div id="response">
  <a href="/yes"> <button> Yes </button> </a>
  <a href="/no"> <button> No </button> </a>
</div>
<div id="response">
	<a href="/yes"> <button> Yes </button> </a>
	<a href="/no"> <button> No </button> </a>
</div>
	