<%= render 'shared/kubmo_logo_2' %>

<img id="marriel_img" src="images/girl_cutout_marriel.png" alt="Marriel" />

<div id="marriel">
  
  <div class="text">

    <h1>Marriel</h1>
    <h2>Age:</h2>
      <p>19</p>
    <h2>Location:</h2>
     <p>Nairobi, Kenya</p>
    <h2>Her situation:</h2><br><br>
      <p> Marriel comes from a nomadic community (Maasai), where the female is neglected and seen as inferior. She was circumcised at the age of 9 years old, as it is a rite of passage in her community. She was fortunate to go to secondary school, because she received a scholarship from a non-profit. She does not have enough money to attend the University of Nairobi, and is going to try really hard to make it happen.</p>
    <h2>What she wants to do:</h2><br><br>
      <p> She has the dream to help the girls in her community receive education, educate their parents to stop Female Genital Mutilation because she thinks the act is barbaric. She also wishes to educate her community in that a girl child is a child, like any other child and should be given equal opportunity. </p>
  
  <div class="why_tech">
    <h2>What she needs technology for:</h2>
      <br><br>
      <ul>
        <li>To find sponsors</li>
        <li>To manage finances</li>
        <li>To find connections</li>
        <li>To raise money</li>
        <li>To look for scholarships</li>
        <li>To research</li>
     </ul>
  </div>    

    <button id="click_marriel">
      <a href="http://www.rally.org/kubmo">Donate!</a>
    </button>

  </div>

<div id="kate_page"> 

<div id="kate_line"></div> 

<div id="kate_img">
  <img src="images/girl_cutout_kate.png" alt="kubmo logo">
</div>

<div id="kate">

<div class="text">

  <h1>Kate</h1>
  <h2>Age:</h2>
    <p>21</p>
  <h2>Location:</h2>
    <p>Nairobi, Kenya</p>
  <h2>Her situation:</h2><br><br>
    <p>Both of her parents died when she was younger. She does not have enough money to attend high school or college</p>
  <h2>What she wants to do:</h2><br><br>
    <p>She wants to open a curio shop that sells jewelry and other arts and crafts from her area. She wants to target tourists in Nairobi and also teach them about Kenyan culture. Using the revenue from the shop, she wants to pay for herself to attend secondary school and college.</p><br.<br><br>
  
<div class="why_tech">

  <h2>What she needs technology for:</h2> <br><br>
    <ul>
      <li>To find sponsors</li>
      <li>To manage finances</li>
      <li>To find connections</li>
      <li>To raise money</li>
      <li>To look for scholarships</li>
      <li>To research</li>
    </ul>
</div> 



   <button id="click_kate">
      <a href="http://www.rally.org/kubmo">Donate!</a>
    </button> 
    
</div>

</div>

   

</div>


 
	