<div class="top_nav">
    <ul id="navbar">
      <li><a href="about">about us</a><ul></ul>
      </li>

      <li><a href="why_donate">why donate</a><ul></ul>
      </li>
      
      <li><a href="marriel">fund a device</a><ul>
        <li><a href="/marriel" class="call-to-action">Marriel</a></li>
        <li><a href="/kate" class="call-to-action">Kate</a></li></ul>
        </li>

      <li><a id="contact" href="/contact" class="call-to-action">contact us</a>
      </li>
      <li><a id="blog" href="/blog" class="call-to-action">blog</a></li>
      <li><a href="https://www.facebook.com/pages/Kubmo/502648673114461"><img src="/images/facebook.png"></a></li>
      <li><a href="https://twitter.com/Kubmo"><img src="/images/twitter.png"></a></li>
      <li><a href="mailto:kubmoteam@gmail.com?subject=Hello Kubmo"><img src="/images/email.png"></a>
    </ul>
  </li>	
	
  <div id="kubmo_logo">
    <a href="/home"><img src="/images/logo_small.png" alt="kubmo logo"></a>
    <div id="line"></div>
  </div>
<div id="marriel">
      <h1>Marriel</h1>
      <h2>Age:</h2>
      <p>19</p>
      <h2>Location:</h2>
      <p>Narok, Kenya</p>
      <h2>Her situation:</h2>
      <p>Both of her parents died when she was younger. She does not have enough money to attend high school or college</p>
      <h2>What she wants to do:</h2>
      <p>After learning about a 9-year-old girl who was circumsized, then forced to marry a 60-year-old man, she wants to create a rescue center for girls who run away from traditional cultures in Kenya. She wants the center to provide education and a safe place to live.</p>
      <h2>What she needs technology for:</h2>
      <ul>
        <li>To find sponsors</li>
        <li>To manage finances</li>
        <li>To find connections</li>
        <li>To raise money</li>
        <li>To look for scholarships</li>
        <li>To research</li>
      </ul>
  </div>  

  <div id="comment">  
    <form action="/comments">
      <input name="comments"> </input>
      <button> Submit </button>
    </form> 
  </div>  

  <div id="response">
    <a href="/yes"> <button> Yes </button> </a>
    <a href="/no"> <button> No </button> </a>
  </div>
    
</div>

	<div id="response">
		<a href="/yes"> <button> Yes </button> </a>
		<a href="/no"> <button> No </button> </a>
	</div>
		
</div>


