<div class="marriel">
	<div id="comment"	
		<form action="/comments">
			<input name="comments"> </input>
			<button> Submit </button>
		</form>	
	</div>	

	<div id="response">
		<a href="/yes"> <button> Yes </button> </a>
		<a href="/no"> <button> No </button> </a>
	</div>
		
</div>


