<%= render 'shared/kubmo_logo_2' %>

<img id="marriel_img" src="images/girl_cutout_marriel.png" alt="Marriel" />

<div id="marriel">
  
  <div class="text">

    <h1>Marriel</h1>
    <h2>Age: </h2>
      <p>19</p>
    <h2>Location: </h2>
     <p>Nairobi, Kenya</p>
    <h2>Her situation:</h2><br><br>
      <p> Marriel lives in the largest slum in Kenya. She was originally a part of the Maasai tribe. She raises her five younger siblings while attending school and making jewelry with her mom to support her family. They live in extreme poverty, because her polygamist father left her family when her mom refused to marry Marriel off at the age of 13. Girls are seen as inferior in the Maasai culture. Marriel underwent the inhumane act of female genital mutilation when she was only 9 years old. </p>
    <h2>What she wants to do:</h2><br><br>
      <p> Marriel wants to start her own curio jewelry shop in Kenya to be able to attend secondary school and college, pay for her siblings to go to school, and end the cycle of extreme poverty that plagues her family. </p>
  
  <div class="why_tech">
    <h2>What she needs technology for:</h2>
      <br><br>
      <ul>
        <li>To market the jewelry</li>
        <li>To sell her product online</li>
        <li>To manage her finances</li>
        <li>To communicate and receive loans from Kiva</li>
        <li>To apply for college</li>
        <li>To research</li>
     </ul>
  </div>  
</div>

<button id="click_marriel">
      <a href="https://www.indiegogo.com/projects/kubmo">Donate!</a>
</button>





 
	