<%= render 'shared/kubmo_logo_2' %>

<img id="marriel_img" src="/images/marriel_girls.jpg" alt="Marriel" />

<div id="marriel">
  
  <div class="text">

  <h1>Marriel</h1>
  <h2>Age:</h2>
    <p>  19</p>
  <h2>Location:</h2>
    <p>Nairobi, Kenya</p>
  <h2>Her situation:</h2> <br><br>
    <p> Marriel comes from a nomadic community (Maasai), where the female is neglected and seen as inferior. She was circumcised at the age of 9 years old, as it is a rite of passage in her community. She was fortunate to go to secondary school, because she received a scholarship from a non-profit. She does not have enough money to attend the University of Nairobi, and is going to try really hard to make it happen.</p>
  <h2>What she wants to do:</h2> <br><br>
    <p> She has the dream to help the girls in her community receive education, educate their parents to stop Female Genital Mutilation because she thinks the act is barbaric. She also wishes to educate her community in that a girl child is a child, like any other child and should be given equal opportunity. </p>
  
<div class="why_tech">
  <h2>What she needs technology for:</h2>
  <br><br>
    <ul>
      <li>To find sponsors</li>
      <li>To manage finances</li>
      <li>To find connections</li>
      <li>To raise money</li>
      <li>To look for scholarships</li>
      <li>To research</li>
    </ul>
</div>    

  </div>

</div>  
<div id="marriel_comment"> 
  <form action="/comments">
    <input type="text" id="field" name="email" placeholder="Comment"> 
      <button id="marriel_button"> Submit </button>
  </form> 
</div>   
<div id="marriel_response">
  <p> Would you donate? <p>
    <a href="/yes"> <button> Yes </button> </a>
    <a href="/no"> <button> No </button> </a>
  </div> 
</div>
	