<div id="get_involved_sidebar">
	<h2>get involved</h2>
	<div id="fund">	
		<p>Help us fund smartphone packages and put on our first workshop in Kenya</p>
		<a id="donate" target="_blank" href="http://www.indiegogo.com/projects/kubmo">Help fund a device</a>
	</div>
	
	<div id="spread">
		<p>Spread the message to your followers</p>
		<ul id="share">
			<li>
	  		<a id="facebook_about" target="_blank" href="https://www.facebook.com/pages/Kubmo/502648673114461">Facebook</a>
			</li>

			<li>
	  		<a id="twitter_about" target="_blank" href="https://twitter.com/Kubmo">Twitter</a>
			</li>

  	</ul>


			<a id="media_click" href="<%= url_for(controller: 'home', action: 'media') %>">media kit</a>
 	</div>

 	<div id="email_us">
 		<p>Partner with us or become a member of our advisory board</p>
 		<a id="about_mail" href="mailto:kubmoteam@gmail.com?subject=Hello%20Kubmo">Email Us</a>
  </div>
    
  <div id="sign_up">
  	<p>Sign up for updates</p>
  	<form action= "/signup">
		<input type="text" id="field" name="email" placeholder="Email" /> 
		
		<button id="about_click">Join</button>
	</form>
  </div>
</div>