<footer>

    <div id="footer">
      
      <div id="mission_statement">  
        <h1>We empower young women to gain independence in the developing world</p>
      </div>    
      
      <div id="footer_links">  
        <h1 id="footer_contact">Contact us</h1>
        <a href="mailto:kubmoteam@gmail.com">kubmoteam@gmail.com</a>
        <a href="https://twitter.com/Kubmo">Twitter</a>
        <a href="https://www.facebook.com/pages/Kubmo/502648673114461">Facebook</a>
      </div>  

      <div id="button_footer">
        <button action= "/getinvolved">
          <button> 
            <p>GET INVOLVED!</p>
          </button> 
        </button>
      </div>  

    </div>

  </footer> 