<%= render 'shared/kubmo_logo_2' %>

<div class="about_nav">

</div>	

<div class="involved">

	<div id="donate_section">
		<h1> Donate </h1>
			<p> Help get a device to one of the young women in Kenya. For every $150 we raise, we <br> can send one full smartphone package to Kenya. </p>
				<button id="fund">
					<p> Help fund a device </p>
				</button>	
	</div>	

	<div id="spread">
		<h1> Spread the message </h1>
			<p> Create a movement within your group of friends. Share the Kubmo story through your <br> social community to empower young women in other parts of the world. Join our <br> communities on Facebook, Twitter, and Tumblr. </p>
			<ul>
				<li>
        			<a id="facebook" href="https://www.facebook.com/pages/Kubmo/502648673114461">
          			<img src="/images/facebook.png" />
        			</a>
      			</li>
      
      			<li>
        			<a id="twitter" href="https://twitter.com/Kubmo">
         			 <img src="/images/twitter.png" />
        			</a>
      			</li>
      		</ul>	
	</div>	

	<div id="help">
		<h1> Help us build the Kubmo program </h1>
			<p> Whether you're an entrepreneur, a global activist, or just interested in helping young <br>women around the world, you can help us form the program. Kubmo was made to <br> be a network of girls and women who connect, collaborate, and sponsor one another. </p>
	</div>	

	<div id="help">
		<h1> Help us build the Kubmo program </h1>
			<p> Whether you're an entrepreneur, a global activist, or just interested in helping young <br>women around the world, you can help us form the program. Kubmo was made to <br> be a network of girls and women who connect, collaborate, and sponsor one another. </p>
			<button id="email_us">
				<a id="mail" href="mailto:kubmoteam@gmail.com?subject=Hello Kubmo">Email us to get involved!</a>
	</div>

	<div id="join_email">
		<h1> Join our mailing list </h1>
			<p> Enter you're email address, we'll keep you updated! </p>
				<form action= "/signup">
					<input type="text" id="field" name="email" placeholder="Email"> 
						<button id="click"> 
							<p>Join</p>
						</button>
					</input>	
				</form
</div>