<div class="top_nav">
    <ul id="navbar">
      <li><a href="about">about us</a><ul></ul>
      </li>

      <li><a href="why_donate">why donate</a><ul></ul>
      </li>
      
      <li><a href="marriel">fund a device</a><ul>
        <li><a href="/marriel" class="call-to-action">Marriel</a></li>
        <li><a href="/kate" class="call-to-action">Kate</a></li></ul>
        </li>

      <li><a id="contact" href="/contact" class="call-to-action">contact us</a>
      </li>
      <li><a id="blog" href="/blog" class="call-to-action">blog</a></li>
      <li><a href="https://www.facebook.com/pages/Kubmo/502648673114461"><img src="/images/facebook.png"></a></li>
      <li><a href="https://twitter.com/Kubmo"><img src="/images/twitter.png"></a></li>
      <li><a href="mailto:kubmoteam@gmail.com?subject=Hello Kubmo"><img src="/images/email.png"></a>
    </ul>
  </li>	

<div class="about">
<div id="kubmo_logo">
    <a href="/home"><img src="/images/logo_small.png" alt="kubmo logo"></a>
    <div id="line"></div>
</div>

	<div id="problem">
	<h1>The Problem:</h1>
	<p1> Young women and girls in developing countries (specifically Kenya) are facing issues such as Female Genitial Mutilation, violence, rape, financial dependence on their husbands and fathers, and extreme poverty. 85% of all Kenyan households that are ran by women, live in extreme poverty. 75% of women in Kenya are pregnant and married by the time they are 20 years old. All of these problems occur because these young women are dependant on the males in their society, both financially and emotionally. </p1> 
		</div>
			<div id="solution">	
		<h3> Our Solution: </h3>
	<p2> We want to help these young women gain the power of independence and drastically change their lives of human rights abuses and extreme poverty. We want to provide them with the entrepreneurial tools that they need in order to create their own business venture and inspire concious capitalism in their socieites and tribes. Technology, along with mentorship, is the main tool that we are going to provide. By engaging women (specifically younger women) here in the United States, we plan to crowdfund technology packages to individual women and girls in Kenya. On this crowdfunding site, you can read each girls' story and determine how much you would like to contribute to her success. The technology packages will consist of a technological device, data, and applications specifically chosen by successful entrepreneurs to jump start their venture. We, also, plan to provide a guide on how to use the device and entrepreneurial mentoring for these girls.</p2> 
	</div>		
</div>