


<%= render 'shared/kubmo_logo_2' %>

<div id="blog_content">

	<div id="blog_4">
		<p class="blog_date">25 Mar, 2013</p>
		<h1>The Kubmo Problem and Solution</h1>
		<h2>The Problem:</h2>
		<p>Every day young women and girls in Kenya, and other developing countries, face issues such as female genital mutilation, violence, rape, financial dependence on their husbands and fathers, and extreme poverty.</p>
		<p>Eighty five percent of all Kenyan households run by women live in extreme poverty. Seventy five percent of women in Kenya are pregnant and married by the time they turn twenty years old. These problems occur because young women are dependent—financially and emotionally—on the males in their society.</p>
		<h2>Our Solution:<h2>
		<p>We seek to help young women gain the power of independence. We wish to empower them to drastically change their own lives. We hope to help stem the tide of human rights abuses and extreme poverty.</p>
		<p>We aim to provide young women with the entrepreneurial tools they need to create their own businesses, and inspire conscious capitalism in their societies and tribes.</p>
		<p>Technology, education, and mentorship are the tools we will provide. By engaging women, specifically younger women, here in the United States, we plan to crowd-fund technology packages for individual women and girls in Kenya.</p>
		<p>On our site you can learn more about each woman we are helping. You can read her story, and determine how much you would like to contribute to her success. The technology packages you support will consist of a mobile device, data, and applications specifically chosen by successful entrepreneurs to jump start their venture.</p>
		<p>In Kenya, we will partner with organizations and host workshops to teach participants how to use the phones and how to start their own small business venture.</p>
		<p>Together we can make a significant and long-term positive impact in the lives of women and their families. It is with this goal in mind that we ask for your support and hope you will join us on our incredible journey.</p>
	</div>

	<div id="blog_3">
		<p class="blog_date">21 Mar, 2013</p>
		<h1>Why Tech</h1>
		<p>Technology is a great equalizer. It doesn’t care about gender. Unfortunately, when faced with poverty so extreme that educating your children is a luxury that you just cannot afford, gender becomes a really big issue. To most people in third world countries, educating their daughters just doesn’t make sense. They’ll get married, move in with their husbands, stay home with children and if they contribute financially, it will be to their husbands families. Often, girls are seen as either burdens or commodities to be sold off when they reach a certain age.</p>
		<p>In Kenya, primary school is free but parents have to pay for secondary school. This is where most girls are lost. Kenya is very much a male dominated society. When parents prioritize putting only one of their children into school, it is a son. Young girls are often forced to marry before they turn 15. Sometimes they choose to marry very young in the hopes that their husband will pay for them to return to school. This rarely happens.</p>
		<p>These young girls want desperately to learn. They recognize the opportunities an education affords them. The desire to send their children to school and help others in their communities is a noticeable force in their will to learn.</p>
		<p>At this point a smart phone becomes more than a phone. It becomes all of the text books they can’t get because they aren’t in school. It becomes a video classroom where they can learn accounting, good business practices or how to cut hair. It becomes a virtual classroom when it gives them access to other women who are running their own businesses and are willing to become mentors and hopefully, allows them to become mentors themselves when they are successful.</p>
		<p>We want to get technology to girls between 14 and 18. We want to get to them before they leave school. If we can get them the training they need and access to the internet, we believe we can help them start their own businesses. When women start microbusinessess in Africa, 90% of their earnings are put back into their families and their communities. The money stays there, where it can do the most good.</p>
		<p>Kubmo is dedicated to helping these young women overcome unbelievable odds by using life changing technology that we in the U.S.A. let our children play on. We are crowdfunding new smart phones, tablets and computers as well as working with corporate sponsors to get these girls what they need; an opportunity.</p>
	</div>


	<div id="blog_2">
	<p class="blog_date">25 Feb, 2013</p>
	<h1>Why Kenya?</h1>
	<p>Every time we present Kubmo to a new person, we undoubtedly get two questions; why did you choose Kenya, and have you ever been to Kenya? While we have never been to Kenya, we have connected with women there who have inspired us to help them in any way we can.</p>
	<p>When we started this venture, we had a few goals in mind. We wanted to help women be independent, we wanted to effect the developing world, and we wanted our efforts to reverberate through the networks we would one day create. Not knowing exactly what country we wanted to start in, we began researching the entire continent of Africa. Seeing the devastating differences in equality between women and men, we were driven to continue going deeper into research.</p>
	<p>In the initial discussions about our findings, there was a constant theme of Kenya. Many of the articles we were reading were talking about how Kenya is on a fine line between it’s past and what it is trying to become. The city of Nairobi is expected to be something like the silicone valley of East Africa. But there are still children going hungry, and young girls being sold into sex slavery by their fathers.</p>
	<p>Realizing we were only touching the very outside layers of the problem, we started contacting girls and women in Kenya through Facebook. We surprisingly found ourselves with 80 new friends overnight after friend requesting women on popular Kenyan Facebook pages. We started by asking them questions about their lives, and problems they saw. This lead to more personal relationships, and therefore better insights into the root of their problems.</p>
	<p>Within a few nights of late night messaging, there was no way that we could turn our backs to these girls we had connected with. They were telling us stories of their lives, and introducing us to concepts and problems we couldn’t even fathom.</p>
	<p>9-year-old girls in Kenya are not learning how to make friends, they are being transitioned into womanhood via female genital mutilation. Teenage girls are not annoyed at their parents because they have to do extra-curricular activities, they are upset because they don’t have the money to pay for their high school education. They are not worried about who their next boyfriend might be, they are worried about what men they might be forced into a marriage with.</p>
	<p>So the answer is no, we have never been to Kenya. We will be making a trip there within the next six months. But we have to make Kubmo’s first impact there. If not, we will not only be failing at creating a company, but we will be failing these women and girls that we now know, who so desperately need support.</p>
	</div>

	<div id="blog_1">
	<p class="blog_date">11 Feb, 2013</p>
	<h1>Who We Are</h1>
	<p>Hello, we are Kubmo, meaning mobile change. We are a team of three women who are determined to provide mobile technology to girls between the ages of 9-15 in Kenya. After learning about the desperate need for devices and technology in Kenya, the team is creating a crowdsourcing platform that uses a game-like “point” system to to raise money for the needed resources. The platform will be marketed towards teenage girls in the United States in hopes to foster connections via social media between the donor and recipient, and create cultural understanding.</p>

	<p>Kumbo is being built at BDW, a postgraduate program in Boulder, Colorado. We are beyond passionate about the cause and plan to continue the endeavor past the startup semester. Some of us will be traveling to Kenya this summer to test the Kubmo prototype and develop necessary partnerships in order to provide young girls the medium they need to drastically change their lives.</p>

	<p>We came together because we wanted to bring our focus to a third world problem during the Startup incubator. The original idea was to make a MOOC-like application that was SMS-based to provide basic education to children in rural Kenya. After much research, we decided we did not have a strong enough background in education to make our idea a reality. We have landed on finding a way to crowdsource money in order to provide young women in Kenya with the tools and technology they need to pursue their entrepreneurial ideas, and reverse the cycle of poverty that plagues their country.</p>

	<p>Technology has already proved to be our ally. We reached out to young girls in Kenya via Facebook and have been communicating with them on a daily basis, trying to validate our ideas and figure out what their needs truly are and what the best solution is. We have met girls of all ages from all across Kenya from varying social backgrounds.</p>

	<p>Our blog will tell the stories of the girls that we talk to and connect with, along with the progression of our social business venture.</p>

	<p>Please follow us so we can get the support we need to change the lives of young girls in Kenya!</p>

	<p>~Emma, Kinsey, Kayleen</p>
	</div>


</div>



 