<%= render 'shared/kubmo_logo_2' %>
<div id="contact_page">
	<ul>
		<li> email: <span style='color: #ba1a63;'> kubmoteam@gmail.com </mark> </li>
		<li> twitter: <span style='color: #ba1a63;'> @kubmo </li>
		<li> facebook: <span style='color: #ba1a63;'> https://www.facebook.com/pages/Kubmo/502648673114461 </li>
		<li> tumblr: <span style='color: #ba1a63;'> http://kubmo.tumblr.com/ </li>
	</ul>	
</div>