<div class="contact">

<%= render 'shared/kubmo_logo' %>

	<ul>
			<li> email: kubmoteam@gmail.com </li>
			<li> twitter: @kubmo </li>
			<li> facebook: https://www.facebook.com/pages/Kubmo/502648673114461 </li>
			<li> tumblr: http://kubmo.tumblr.com/ </li>

	</ul>	
</div>