<div class="contact">

<div class="top_nav">
		<ul id="navbar">
			<li><a href="about">Who we are</a><ul></ul>
				</li>

			<li><a href="why_donate">Why donate?</a><ul></ul>
				</li>
			
			<li><a href="marriel">Fund a device</a><ul>
				<li><a href="/marriel" class="call-to-action">Marriel</a></li>
				<li><a href="/kate" class="call-to-action">Kate</a></li></ul>
				</li>

		<li><a id="contact" href="/contact" class="call-to-action">Contact us</a><ul></ul>
	</li>
		<div class="social_media">	
			<li><a href="https://www.facebook.com/pages/Kubmo/502648673114461"><img src="/images/facebook.png"></a></li>
			<li><a href="https://twitter.com/Kubmo"><img src="/images/twitter.png"></a></li>
			<li><a href="mailto:kubmoteam@gmail.com?subject=Subject Hello Kubmo"><img src="/images/email.png"></a>
		</ul>
	</li>
</div>
</div>

<div id="kubmo_logo">
    <a href="/home"><img src="/images/logo_small.png" alt="kubmo logo"></a>
    <div id="line"></div>
  </div>

	<p1> <ul>
		<br>	
			<li> email: kubmoteam@gmail.com </li>
		<br>
			<li> twitter: @kubmo </li>
		<br>
			<li> facebook: https://www.facebook.com/pages/Kubmo/502648673114461 </li>
		<br>
			<li> tumblr: http://kubmo.tumblr.com/ </li>
	<br>
		</ul>	
		</p1>	
	</div>
</div>