<div class="top_nav">
		<ul id="navbar">
			<li><a href="about">Who we are</a><ul></ul>
			</li>

			<li><a href="why_donate">Why donate?</a><ul></ul>
			</li>
			
			<li><a href="marriel">Fund a device</a><ul>
				<li><a href="/marriel" class="call-to-action">Marriel</a></li>
				<li><a href="/kate" class="call-to-action">Kate</a></li></ul>
				</li>

			<li><a id="contact" href="/contact" class="call-to-action">Contact us</a><ul></ul>
			</li>
		</ul>
	</li>

<div class="contact">
	<div id= "logo2">
		<img src="/images/logo-full.png" alt="kubmo logo"> 
			</div>
		<p1> <ul>
		<br>	
	<li> email: kubmoteam@gmail.com </li>
		<br>
			<li> twitter: @kubmo </li>
		<br>
	<li> facebook: </li>
		<br>
	<li> tumblr: http://kubmo.tumblr.com/ </li>
	<br>
		</ul>	
		</p1>	
	</div>