<%= render 'shared/kubmo_logo' %>
	
    <p>We help women gain independence <br> in developing countries.</p>
<div id="button_1">
	<form action= "/signup">
		<input type="text" id="field" name="email" placeholder="Email"> 
			<button id="click"> 
				<p>GET INVOLVED</p>
			</button>
		</input>	
	</form> 
 </div> 
<div id="photo_credit">
  <p> Photo provided by http://katieacampbell.com/ <p>
</div>  

	


