<div id="landing_page">

<%= render 'shared/kubmo_logo_2' %>

	<div id="box"></div>	
	    <h1 id="mission">We empower young women in
			Kenya to start their own
			businesses by providing them
			with tools and guidance.</h1>

	<div id="button_1">
		<form method="get" action="/About">
			<button id="click"> 
				<p>GET INVOLVED!</p>
			</button>
	</div>

	<div id="photo_credit">
	  <p> Photo provided by http://katieacampbell.com/ <p>
	</div>  
</div>

