
<div class="splash">
	<head>
		<title>Kubmo</title>
		<link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
	</head>

	<div class="top_nav">
		<ul id="navbar">
			<li><a href="about">Who we are</a><ul></ul>
			</li>

			<li><a href="why_donate">Why donate?</a><ul></ul>
			</li>
			
			<li><a href="marriel">Fund a device</a><ul>
				<li><a href="/marriel" class="call-to-action">Marriel</a></li>
				<li><a href="/kate" class="call-to-action">Kate</a></li></ul>
				</li>

			<li><a id="contact" href="/contact" class="call-to-action">Contact us</a><ul></ul>
			</li>
		</ul>
	</li>


</ul>
	</div>	

	<div class="logo">
		<img src="/images/logo.png" alt="kubmo logo"> 	
	</div>

	<div class="box">
	</div>
	<div class="content">
    	<p>We help women gain independence <br> in developing countries.</p>

	</div>
		<div class="button_1">
	<form action= "/signup">
		<input type="text" id="field" name="email" placeholder="Email"> 
			<br>
		<button id="click"> 
			<p>GET INVOLVED</p>
		</button>
	</form> 
	
</div>

</div>


