<%= render 'shared/kubmo_logo_2' %>

<div id="landing_page">

	
  <h2>We empower young women in
	Kenya to start their own
	businesses by providing them
	with tools and guidance.</h2>

	<a id="click" href="/donate">Donate to the cause!</a>

	<div id="photo_credit">
	  <p>Photo provided by <a href="http://katieacampbell.com/" target="_blank">http://katieacampbell.com/</a><p>
	</div>  
</div>

