<div id="background_image">
	<img src="/images/splash_full.png" alt="girl in Kenya" />
</div>

<%= render 'shared/kubmo_logo' %>

<div id="box">
</div>	
    <h1 id="mission">We empower young women entrepreneurs in developing countries.</h1>
    <p id="landing_description">We provide young women the technology and guidance they need to be financially independent.</p>

<div id="button_1">
	<form method="get" action="/About">
		<button id="click"> 
			<p>GET INVOLVED!</p>
		</button>
</div>
<div id="Meet">	 
	<a href="#meet_the_girls" class="scroll">
		<h3>Meet our first entrepreneur</h3>
		<img id="triangle" src="images/triangle_03.png">
	</a>
</div> 

<div id="photo_credit">
  <p> Photo provided by http://katieacampbell.com/ <p>
</div>  

<div id="girls_index">
	
	<div id="girls_index_marriel">
		<a name="meet_the_girls">
		<img src="images/girl_cutout_marriel.png" alt="Marriel">
		
		<div id="index_text">
		<h1>Marriel</h1>
			<h2>Age:</h2>
				<p>19</p>
			<h2>Location:</h2>
				<p>Nairobi, Kenya</p>
			<h2>Her business:</h2>
				<p>Selling the traditional jewelry of the Maasai</p>
			<div id="marriel_button">
				<form method="get" action="/Marriel">
    				<button type="submit">Learn more + donate</button>
    		</div>		
			</form>	
		</div>		
	</div>	
</div>



	


