
<div class="splash">
	<head>
		<title>Kubmo</title>
		<link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
	</head>

	<div class="logo">
		<img src="/images/logo-full.png" alt="kubmo logo"> 	
	</div>

	<div class="box">
	</div>

	<div class="content">
    	<p>We help women gain independence <br> in developing countries.</p>       
 		<div id="girls">
 			<p>See what girls in Kenya want to do with mobile technology:</p>
 			<ul>
 				<li> <a id="kate" href="/kate" class="call-to-action"> Kate </a> </li>
 				<li> <a id="marriel" href="/marriel" class="call-to-action"> Marriel </a> </li>
 			<ul>	
 		</div>	

	</div>
		<div class="button_1">
	<form action= "/signup">
		<input type="text" id="field" name="email" placeholder="Email"> 
			<br>
		<button id="click"> 
			<p>GET INVOLVED</p>
		</button>
	</form> 
	
</div>

</div>


