<div id="background_image">
	<img src="/images/splash_full.png" alt="girl in Kenya" />
</div>

<%= render 'shared/kubmo_logo' %>

<div id="box">
</div>	
    <p id="mission">We provide smartphone packages to young women in Kenya that include the applications, data plan, and guidance they need to start their own entrepreneurial ventures and become financially independent.</p>

<div id="button_1">
	<button action= "/getinvolved">
			<button id="click"> 
				<p>GET INVOLVED!</p>
			</button>	
	</button>
</div>
<div id="Meet">	 
	<a href="#girls" class="scroll">
		<h3>Meet the young women</h3>
	</a>
</div> 

<div id="photo_credit">
  <p> Photo provided by http://katieacampbell.com/ <p>
</div>  





	


