<div class="splash">

	<div class="logo">
		<img src="/images/logo_full.png" alt="kubmo logo"> 	
	</div>

	<div class="box">
	</div>
	<div class="content">
    	<p>We help women gain independence <br> in developing countries.</p>
		<div class="button_1">
	<form action= "/signup">
		<input type="text" id="field" name="email" placeholder="Email"> 
			<br>
		<button id="click"> 
			<p>GET INVOLVED</p>
		</button>
	</form> 
 </div> 

<div class="photo_credit">
  <h1> Photo provided by http://katieacampbell.com/ </h1>
</div>  
</div>
	


