<div class="media">

<h1>Media Kit</h1>

<div id="about_media">
	<h2>About Us:</h2>

	<div id="about_media_small">
	
	<h3>Tagline:</h3>

		<p> "Women for Mobile Change"</p>

	<h3>Paragraph:</h3>

		<p>We empower young women in Kenya to be entrepreneurs.  There are many barriers for women in developing countries, but there are three that we are focusing on. 

		<p>Access to internet and technology is the first barrier. The smartphone is the tool that allows our entrepreneurs to build and scale their small ventures. From microfinancing, to social media outreach to banking services: a smartphone does not equal an entrepreneur but it addresses many issues they face. </p>

		<p>Access to mentorship and guidance is the second barrier. Once a young woman in Kenya gets accepted into the Kubmo program, she attends a workshop where she learns the basics of how to build her business. She is also paired with a mentor that works with her regularly. The Kubmo program is  year-long built to support the entrepreneur beyond receiving a smartphone.</p>

		<p>The third barrier is access to a global online marketplace. Once the young women in our program have gone through the initial workshop, we will sell their products on our online marketplace. We are different from other online marketplaces in that we create a community around the entrepreneur, from the inception of her idea, to the global spread of her product. We’re with our entrepreneurs every step of the way.</p>
</div>

</div>

<div id="social_media_kit">
	<h2>Social Media:</h2>

	<ul>
		<li><a id="twitter_media" href="https://twitter.com/Kubmo">Twitter</a></li>
		<li><a id="facebook_media" href="https://www.facebook.com/pages/Kubmo/502648673114461?fref=ts">Facebook</a></li>
		<li><a id="pinterest_media" href="http://www.google.com/url?q=http%3A%2F%2Fpinterest.com%2Fkubmo%2F&sa=D&sntz=1&usg=AFQjCNHNJUK1lnYqRbBMstDyZ1TVfGbCYQ">Pinterest</a></li>
	</ul>	
</div>

<div id="partners_media_kit">
	<h2>Our Partners:</h2>

	<ul>
		<li><a href="http://www.safaricomfoundation.org/">Safaricom Foundation</a></li>
		<li><a href="http://www.ingridvanderveldt.com/">Ingrid Vanderveldt</a></li>
		<li><a href="http://www.evb.com/">EVB</a></li>
		<li><a href="http://unreasonableinstitute.org/">Unreasonable Institute</a></li>
		<li><a href="http://bdw.colorado.edu/">BDW</a></li>
		<li><a href="https://twitter.com/ClaudiaBatten">Claudia Batten</a></li>
		<li><a href="http://www.muthaafoundation.org/">Muthaa Community Development Foundation</a></li>
	</ul>
</div>


<div id="signage_media_kit">
	<h2>Our Official Signage:</h2>
	<img id="logo_full_media" src="/images/kubmo_logo_full.png" alt="full logo">
	<img id="logo_circle_media" src="/images/Kubmo_Logo_circle.png" alt="circle logo">
</div>

</div>



