<%= render 'shared/kubmo_logo_2' %>

<div id="about_nav">

	<ul id="about_navbar">
	  <li id="donate">
        <a href="About">Get Involved</a>
      </li>

      <li>
        <a href="What">What We Do</a>
      </li>
      
      <li>
        <a href="Story">The Story</a>
      </li>
    </ul>
    
</div> 

<div id="story_content">
  <h1>Empowering women in developing countries. </h1>
    <p>It all started with our passion to do something that would have a positive social impact on young women. Being three young women ourselves, we were drawn to start a movement to support other women all across the world, specifically in developing countries. After researching, we decided to start by focusing our efforts in Kenya.</p>
  <h1>Facebook let us connect with girls 8,000 miles away. </h1>
    <p>Through Facebook, we were able to talk to over 100 young women living in Kenya. They told us stories of who they were and what their lives were like in Kenya. We developed many personal relationships with these young women. We are devoted to our cause and are driven to make a difference in our friends' lives now.</p>
  <h1>Financial independence for women.</h1>
    <p>Talking with these girls in Kenya made us realize that they needed to be financially independent from the men in their communities in order to solve a majority of the issues they are facing. Whether they are supporting their families, living in a patriarchal tribe environment, or uneducated, access to their own personal money stream was a necessity.</p>
  <h1>Mobile entrepreneurs.</h1>
    <p>The majority of young women we've talked to want to start their own business. The ideas spann from selling their own jewelry, to opening a safe house for orphaned children. But they don't have all of the resources they need to get a start. Once they have an idea, we will support their growth by providing a smartphone loaded with the applications they need to use to start their own business venture.</p>  
</div> 