<%= render 'shared/kubmo_logo_2' %>

<div id="about_nav">

	<ul id="about_navbar">
	  <li id="donate">
        <a href="About">Get Involved</a>
      </li>

      <li>
        <a href="What">What We Do</a>
      </li>
      
      <li>
        <a href="Story">The Story</a>
      </li>
    </ul>
    
</div> 
</div> 
<div id="main_image">
	<a href="#steps">
    <img src="/images/what_we_do_info.png" alt="what we do"/>
  </a>
</div>

<div id="what_text">
  <a name="steps">

  <img id="what_1" src="images/number_1.png" alt="number one">
  <h1>Lauren</h1>
  <p>Girls in the U.S. and other countries donate, help us spread the movement within their community, and learn about young women in developing countries.</p>
  
  <img id="what_2" src="images/number_2.png" alt="number one">
  <h1>The Phone Package</h1>
  <p>With $150 worth of donations, we can pay for a phone loaded with applications, a sim card, the Kubmo guide, and the shipping fees.</p>

  <img id="what_3" src="images/number_3.png" alt="number one">
  <h1>Marriel</h1>
  <p>One of our young entrepreneurs in Kenya will recieve the package. She will be able to start using the phone to start making her own money within her community.</p>
  
  <img id="what_4" src="images/number_4.png" alt="number one">
  <h1>The Marketplace</h1>
  <p>An online arena for the Kubmo entrepreneurs to sell their products, exchange ideas, and collaborate with other women around the world. This piece is not developed yet, but will happen in the next phase.</p>
</div>
