<%= render 'shared/kubmo_logo_2' %>

<div id="about_nav">

	<ul id="about_navbar">
	  <li id="donate">
        <a href="Donate">Get Involved</a>
      </li>

      <li>
        <a href="What">What We Do</a>
      </li>
      
      <li>
        <a href="Story">The Story</a>
      </li>
    </ul>
    
</div> 
</div> 
<div id="main_image">
	<img src="/images/what_we_do.png" alt="what we do"/>
</div>