<div class="top_nav">
    <ul id="navbar">
      <li><a href="about">about us</a><ul></ul>
      </li>

      <li><a href="why_donate">why donate</a><ul></ul>
      </li>
      
      <li><a href="marriel">fund a device</a><ul>
        <li><a href="/marriel" class="call-to-action">Marriel</a></li>
        <li><a href="/kate" class="call-to-action">Kate</a></li></ul>
        </li>

      <li><a id="contact" href="/contact" class="call-to-action">contact us</a>
      </li>
      <li><a id="blog" href="/blog" class="call-to-action">blog</a></li>
      <li><a href="https://www.facebook.com/pages/Kubmo/502648673114461"><img src="/images/facebook.png"></a></li>
      <li><a href="https://twitter.com/Kubmo"><img src="/images/twitter.png"></a></li>
      <li><a href="mailto:kubmoteam@gmail.com?subject=Hello Kubmo"><img src="/images/email.png"></a>
    </ul>
  </li>	
<div id="kubmo_logo">
    <a href="/home"><img src="/images/logo_small.png" alt="kubmo logo"></a>
    <div id="line"></div>
  </div>

<div class="why">
	<h4> "The UN determined that the best solution [to world problems] is investing in women"<br>
	-Half the Sky </br></h4>
</div>
	<div id="content">
  <h5> The Facts </h5>
		<p5><ul>
			<li>80% of women-headed houses in Kenya live in extreme poverty</li>
				<li>89% of women in Kenya are married by the time they are 25</li>
					<li>63% of women in Kenya live in poverty</li>
				<li>Over 25% of Kenyan women have children or are pregnant between the ages of 15-19</li>
			<li>At least 32 percent of Kenyan women have undergone Femal Genital Mutilation</li>
		</ul>
<h6> Why Will Technology Help the Situation? </h6>
  <p6><ul>
      <li>Allows them to access learning on entrepreneurship, finances, etc.</li>
        <li>Allows them to spread the word about their business venture</li>
      <li>Gives them a voice</li>
    <li>Connects them outside of just their small communities</li>
  <li>Each girl has their personal reason for how the technology will help her business</li>
 </ul> 
<h7> How will we hold each woman accountable? </h7>
 <p7><ul>
    <li>We will be working with girls in established, credible organizations</li>
      <li>Each girl we accept into the program has to go through an application process, with an idea already in mind for how they will become financially independent </li>
        <li>After accepted, they will have to start blogging about their experiences, and tell their story.</li>
      <li>We will send the phone to them, fully loaded with the applications they need to start their ventrure, and a guide on how to use the phone and each of the applications.</li>
    <li>Each young woman who recieves a phone will have to keep blogging about their experiences with the new technology, and talk about how they are using it and how it <br> has helped them to become financially independent. They will be able to send video entries with their new device.</li></br>
  </ul> 
 </div> 
