 <%= render 'shared/kubmo_logo_2' %>

 <div id="intro"> 
 	<h1> We are very excited to have you apply to the Kubmo Program! Please fill out the folllowing information as complete as possible. If you have any questions, please email kinsey@kubmo.org or emma@kubmo.org! </h1>
 </div>
 
 <div id="google_doc">
 	<iframe src="https://docs.google.com/forms/d/1dLkhVc1QnE9T12gn-Hd6aGg4R7pUObXc_oNYJNeisEY/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>	