/*---Global Styles---*/
/*put all global styles and variables here*/
$pink: #ba1a63;
$grey: #292929;
$light_grey: #404041;
$blue: #a2bcbb;
$purple: #a07098;

/*fonts*/

@mixin lato() { font-family: 'Lato', Arial, sans-serif; font-weight: 400; }
@mixin latoLight() { font-family: 'Lato', Arial, sans-serif; font-weight: 300; }
@mixin latoBold() { font-family: 'Lato', Arial, sans-serif; font-weight: 700; }
@mixin latoBlack() { font-family: 'Lato', Arial, sans-serif; font-weight: 900; }

body { @include lato(); min-width: 917px; }
a { color: $pink; text-decoration: none; }

/*---LOGO---*/
#kubmo_logo_2 {
    position: relative;
    border-bottom: 1px solid $light_grey;
    a {
        display: block;
        margin-left: 60px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 300px;
        height: 66px;
        background: transparent url('/assets/sprite_global.png');
        background-position: 0px;
        text-indent: -9999px;
    }

    p {
        color: #292929;
        position: absolute;
        font-weight: 300;
        font-size: 120%;
        left: 330px;
        top: 26px;
        @include latoLight();
    }
}

/*Get Involved Sidebar*/

#get_involved_sidebar {
    float: right;
    width: 200px;
    height: 533px;
    background-color: $light_grey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    @include latoLight();
  
    
    h1 {
        color: white;
        font-size: 120%;
        text-transform: uppercase;
        position: relative;
        padding-left: 32px;
        padding-top: 10px;
    }

    p {
        color: white;
        text-align:center;
        position: relative;
        margin-left: -37px;
        width: 170px;
        padding-top: 20px;
        margin-bottom: 15px;
        border-top: 1px solid $blue;
        margin-top: 20px;
    }

    a {
        color: white;
    }

    #donate {
        padding: 5px;
        background-color: $purple;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-left: 20px;
        text-transform: uppercase;
        font-size: 90%;
    }

    #facebook_about {
        display: inline-block;
        margin-left: 60px;
        margin-bottom: 0px;
        width: 30px;
        height: 30px;
        background: transparent url('/assets/sprite_global.png');
        background-position: 10.5% 0px;
        text-indent: -9999px;
    }

    #twitter_about {
        display: inline-block;
        margin-left: 100px;
        margin-top: -30px;
        position: absolute;
        width: 30px;
        height: 30px;
        background: transparent url('/assets/sprite_global.png');
        background-position: 17.5% 0px;
        text-indent: -9999px;
    }

    #email_us a {
        padding: 5px;
        background-color: $purple;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-left: 60px;
        text-transform: uppercase;
        font-size: 90%;
    }

    form input {
        width: 170px;
        height: 25px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        opacity: 0.5;
        margin-left: 12px;
    }

    form button {
        margin-left: 48px;
        @include latoLight();
        width: 100px;
        height: 25px;
        font-size: 90%;
        color: white;
        text-transform: uppercase;
        background-color: $purple;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-top: 14px;
    }
}


/*Top Navigation Bar*/
.top_nav {
    background-color: #414142;
    width: 100%;
	#navbar {
		height: 50px;
        overflow: hidden;
	}
    .main {
        float: left;
        li { 
            float: left; 
        }

        a {
            margin: 17px 0 0 43px;
        }
        #nav_logo {
            background: transparent url('/assets/sprite_global.png');
            width: 35px;
            height: 35px;
            text-indent: -9999px;
            margin: 7px 0 0 60px;
        }
    }
    .sub { 
        float: left;
        margin-left: 145px;
        li {
            float: left;
        }
        a {
            margin-right: 20px;
        }
    }


	a {
		color: white;
		text-decoration: none;
        @include latoBlack();
	}

    a:hover,
    a.active {
        color: $pink;
    }

    a:active {
        color: $pink;
    }



	li a {
        display: block;
        background-color: inherit;
        color:  #fff ;
    }



    .social {
        background: url('/assets/sprite_global.png') no-repeat;
        display: block;
        text-indent: -9999px;
    }

    #facebook {
        background-position: -50px -8px;
        width: 9px;
        height: 18px;
        margin-top: 16px;
    }

    #twitter {
        background-position: -69px -11px;
        width: 19px;
        height: 14px;
        margin-top: 19px;
    }

    #mail {
        background-position: -100px -12px;
        width: 20px;
        height: 14px;
        margin: 19px 0 0 0;
    }
       
    #donate {
        a {
            font-size: 138%;
            color: white;
            background-color: $pink;
            padding: 8px;
            margin-top: 6px;
            margin-right: 40px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        
    }

  
       
   
}

/* ---Landing Page--- */
.home {
    #landing_page {
        background-image: url("/images/landing_page_background.png");
        height: 880px;
        background-position: left -20px top -25px;
    }

    h2 {
        color: white;
        font-size: 180%;
        font-weight: 300;
        width: 450px;
        margin-left: 60px;
        margin-top: 150px;
        line-height:140%;
        border-top-style:solid;
        border-top-color: #a2bcbb;
        border-top-width: 3px;
        border-bottom-style:solid;
        border-bottom-color: #a2bcbb;
        border-bottom-width: 3px;
        position: absolute;
        padding-top: 8px;
        padding-bottom: 8px;
        @include latoBold();
    }

    #click {

        margin-top: 370px;
        margin-left: 60px;

        background-color: $pink;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
      
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      
        color: #fff;
        font-size: 120%;
        font-weight: 300;
        height: 35px;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 14px;
        text-transform: uppercase;

        @include latoBlack();
    }

    #photo_credit {
        color: white;
        font-size: 80%;
        margin: 20px 0 0 60px;
        
    }
}

/* ---About Page--- */
.about {
    #page_wrapper { width: 917px; }
    /*drop styles for about page here*/
    //About

    #lifecycle {
        background-image: url("/images/lifecycle_03.png");
        background-repeat:no-repeat;
        height: 550px;
        margin-left: 80px;
        margin-top: 60px;
        float: left;
        width: 620px;
    }

    #us {
        background-image: url("/images/number_small_1.png");
        background-repeat:no-repeat;
        width: 220px;
        position: absolute;
        margin-top: 30px;
        margin-left: -50px;
    }
        p {
            padding-left: 50px;
        }

    #smartphones {
        background-image: url("/images/number_small_2.png");
        background-repeat:no-repeat;
        width: 300px;
        position: absolute;
        margin-left: 500px;
    }
        p {
            padding-left: 50px;
        }

    #kenya {
        background-image: url("/images/number_small_4.png");
        background-repeat:no-repeat;
        width: 230px;
        position:absolute;
        margin-left: 610px;
        margin-top: 220px;
    }
        p {
            padding-left: 50px;
        }

    #companies {
        background-image: url("/images/number_small_3.png");
        background-repeat:no-repeat;
        width: 240px;
        position: absolute;
        margin-left: 130px;
        margin-top: 520px;
    }
        p {
            padding-left: 50px;
        }

    #join_email input {
        width: 200px;
        height: 30px;
        margin-top: 25px;
        margin-right: 20px;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
    }



    #story_content {
        clear: left;
        margin-top: 100px;
       
        border-top: solid black 1px;
        padding-top: 30px; 

        h2 {
            color: $pink;
            margin-bottom: 15px;
            font-size: 140%;
            @include latoBold()
        }

        h3 {
            color: $grey;
            @include latoBold()
        }

        p {
            margin-bottom: 30px;
            color: $light_grey;
            margin-left: -50px;
            margin-top: 5px;
        }
    }
}

/* ---Cause Page--- */
.cause {
    @include lato();

    #overview {
        width: 800px;
        margin-left: 60px;
        padding-bottom: 30px;
        border-bottom: solid black 1px;
    }
    
    #overview h2 {
        @include latoBold();
        font-size: 140%;
        margin-top: 30px;
        line-height: 1.2;
    }

    #overview p {
        font-size: 120%;
        line-height: 1.2;
        @include latoLight()
    }

    #overview a {
        margin-left: 396px;
        position: absolute;
        margin-top: -20px;
        font-size: 115%;
    }

    #p1 {
        margin-top: 15px;
    }

    #p2 {
        margin-top: 15px;
    }

    #p3 {
        margin-top: 15px;
    }

    #marriel {
        background-image: url("/images/marriel_facebook.png");
        background-repeat:no-repeat;
        @include lato();
        margin-top: 50px;
        margin-left: 60px;
        width: 500px;

        #text h3 {
            @include latoBlack();
            color: $pink;
            font-size: 130%;
        }

        #text h4 {
            @include latoBlack();
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #text p {
            line-height: 1.2;
        }
    }


}


//email thank you

.thanks {
    margin-left: 65px;
    padding-top: 45px;
    font-size: 20px; 
}


/* ---Blog Page--- */
.blog {
    /*drop styles for blog page here*/

    #blog_content #kubmo_logo_2 {
        margin-bottom: 30px;
    }

    #blog_content {
        width: 75%;
        margin-left: 5%;
        margin-top: 30px;
        margin-right: 150px;
    }

    #blog_content h2 {
        color: #404041;
        font-size: 120%;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    #blog_content h3 {
        color: black;
        margin-bottom: 10px;
        font-weight: bold;
        color: #404041;
    }

    #blog_content p {
        margin-bottom: 15px;
        font-weight: normal;
    }

    .blog_date {
        margin-top: 50px;
        color: $pink;
        font-size: 80%;
    }

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles for all iphones, portrait and landscape */
        
    @media only screen and (orientation : landscape) {
        /* Styles for landscape iphone only */
    }


    @media only screen and (orientation : portrait) {
        /* Styles for portrait iphone only */
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles for all ipads, portrait and landscape */

    @media only screen and (orientation : landscape) {
        /* Styles for landscape ipad only */
    }


    @media only screen and (orientation : portrait) {
        /* Styles for portrait ipad only */
    }
}  


/*Retina Screens - pixel density 1.5+ */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
   /* Styles for retina screens - ipad and iphone */

    @media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 480px) {
            /*iphone retina only*/
    }

    @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) {
            /*ipad retina only*/
    }
}


        




