/*---Global Styles---*/
/*put all global styles and variables here*/
$pink: #a07098;
/*fonts*/

@mixin lato() { font-family: 'Lato', Arial, sans-serif; font-weight: 400; }
@mixin latoLight() { font-family: 'Lato', Arial, sans-serif; font-weight: 300; }
@mixin latoBold() { font-family: 'Lato', Arial, sans-serif; font-weight: 700; }
@mixin latoBlack() { font-family: 'Lato', Arial, sans-serif; font-weight: 900; }

body { @include lato(); width: 100%; }

/*---LOGO---*/
#kubmo_logo_2 {
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
    height: 66px;
    background: transparent url('/assets/sprite_global.png');
    background-position: 0px;
}

    a {
        display: none;
    }

    p {
        font-weight: 300;
        font-size: 120%;
        color: 292929;
        position: absolute;
        margin-left: 280px;
        margin-top: 40px;
    }




/*Top Navigation Bar*/
.top_nav {
    background-color: #414142;

	#navbar {
        min-width: 800px; 
        max-width: 1300px;
		height: 50px;
        overflow: hidden;

        
	}
    .main {
        float: left;
        li { 
            float: left; 
        }

        a {
            margin: 17px 0 0 43px;
        }
        #nav_logo {
            background: transparent url('/assets/sprite_global.png');
            width: 35px;
            height: 35px;
            text-indent: -9999px;
            margin: 7px 0 0 60px;
        }
    }
    .sub { 
        float: right;
        margin-right: 180px;
        li {
            float: left;
        }
        a {
            margin-right: 20px;
        }
    }


	a {
		color: white;
		text-decoration: none;
        @include latoBlack();
	}

    a:hover,
    a.active {
        color: $pink;
    }

    a:active {
        color: $pink;
    }



	li a {
        display: block;
        background-color: inherit;
        color:  #fff ;
    }



    .social {
        background: url('/assets/sprite_global.png') no-repeat;
        display: block;
        text-indent: -9999px;
    }

    #facebook {
        background-position: -50px -8px;
        width: 9px;
        height: 18px;
        margin-top: 16px;
    }

    #twitter {
        background-position: -69px -11px;
        width: 19px;
        height: 14px;
        margin-top: 19px;
    }

    #mail {
        background-position: -100px -12px;
        width: 20px;
        height: 14px;
        margin: 19px 0 0 0;
    }
       
    #donate {
        a {
            font-size: 138%;
            color: white;
            background-color: $pink;
            padding: 8px;
            margin-top: 6px;
            margin-right: 40px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        
    }

  
       
   
}

/* ---Landing Page--- */
.home {
    #landing_page {
        background-image: url("/images/landing_page_background.png");
        height: 880px;
        background-position: left -20px top -25px;
    }

    h2 {
        color: white;
        font-size: 180%;
        font-weight: 300;
        width: 450px;
        margin-left: 60px;
        margin-top: 150px;
        line-height:140%;
        border-top-style:solid;
        border-top-color: #a2bcbb;
        border-top-width: 3px;
        border-bottom-style:solid;
        border-bottom-color: #a2bcbb;
        border-bottom-width: 3px;
        position: absolute;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #click {

        margin-top: 370px;
        margin-left: 60px;

        background-color: $pink;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
      
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
      
        color: #fff;
        font-size: 120%;
        font-weight: 300;
        height: 35px;
        width: 230px;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 14px;
        text-transform: uppercase;
    }

    #photo_credit {
        color: white;
        font-size: 80%;
        margin-left: -250px;
        margin-top: 770px;
    }
}

/* ---About Page--- */
.about {
    /*drop styles for about page here*/
    //About

    #lifecycle {
        background-image: url("/images/lifecycle_03.png");
        background-repeat:no-repeat;
    }

    #join_email input {
        width: 200px;
        height: 30px;
        margin-top: 25px;
        margin-right: 20px;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
    }



    #story_content {
        margin-left: 5%;
        margin-top: 30px;
        width: 75%;
    } 

    #story_content h1 {
        color: #404041;
        margin-bottom: 15px;
    }

    #story_content p {
        margin-bottom: 30px;
    }
}

/* ---Cause Page--- */
.cause {
    /*drop styles for cause page here*/
    #the_cause {
        background-image: url("/images/marriel_facebook.png");
        background-repeat: no-repeat;
    }

    #marriel_img {
        width: 220px;
        margin-left: 5%;
        margin-top: 30px;
        float: left;
        padding-right: 30px;
        margin-bottom: 15px;
    }

    .text {
        margin-top: 30px;
        width: 70%;
        margin-left: 5%;
    }

    .text h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .text h2 {
        font-weight: bold;
        position: inline-block;
        float: left;
        line-height: 25px;
    }

    .text p {
        padding-bottom: 15px;
        line-height: 25px;
    }

    .text li {
        line-height: 25px;
        list-style-type: circle;
        margin-left: 20px;
    }

    .text .list_of_tech {
        list-style-type: circle;
        margin-left: 30px;
    }

    #click_marriel {
        position: relative;

        background-color: $pink;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
      
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        font-size: 130%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top:10px;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-left: 60px;
    }
    #click_marriel a {
        color: white;
        text-decoration: none;
    }

    //email thank you
    .thanks {
        margin-left: 65px;
        padding-top: 45px;
        font-size: 20px; 
    }

}

/* ---Blog Page--- */
.blog {
    /*drop styles for blog page here*/

    #blog_content #kubmo_logo_2 {
        margin-bottom: 30px;
    }

    #blog_content {
        width: 75%;
        margin-left: 5%;
        margin-top: 30px;
        margin-right: 150px;
    }

    #blog_content h2 {
        color: #404041;
        font-size: 120%;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    #blog_content h3 {
        color: black;
        margin-bottom: 10px;
        font-weight: bold;
        color: #404041;
    }

    #blog_content p {
        margin-bottom: 15px;
        font-weight: normal;
    }

    .blog_date {
        margin-top: 50px;
        color: $pink;
        font-size: 80%;
    }

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles for all iphones, portrait and landscape */
        
    @media only screen and (orientation : landscape) {
        /* Styles for landscape iphone only */
    }


    @media only screen and (orientation : portrait) {
        /* Styles for portrait iphone only */
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles for all ipads, portrait and landscape */

    @media only screen and (orientation : landscape) {
        /* Styles for landscape ipad only */
    }


    @media only screen and (orientation : portrait) {
        /* Styles for portrait ipad only */
    }
}  


/*Retina Screens - pixel density 1.5+ */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
   /* Styles for retina screens - ipad and iphone */

    @media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 480px) {
            /*iphone retina only*/
    }

    @media only screen 
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) {
            /*ipad retina only*/
    }
}


        




