// Top Navigation Bar
.top_nav {
	
	ul {
		display: inline-block;
        width: 100%;
		height: 50px;
		background-color:#292929;
	}

	li {
		float: left;
		margin-left: 5%;
	}

	a {
		margin: 20px;
		color: white;
		text-decoration: none;
		font-family: 'Bitter', serif;
	}

    a:hover {
        color: #ba1a63;
    }

	li a {
        display: block;
        background-color: inherit;
        color:  #fff ;
    }

    li ul {
        display: none; 
        width: 10em; /* Width to help Opera out */
        background-color: inherit;
    }

    li:hover ul {
        position: relative;
        z-index: 1; 
        display: block;
    }
    
    li:hover li {
        float: none; 
        margin-top: 1px;
}
    
    li:hover li a {
        background-color: #404041;
        border-bottom: 1px solid  #fff ;
        color: #fff;
        padding: 10px;
        margin-top: -20px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -o-border-radius: 1px;
        border-radius: 1px;
    }

    li li a:hover {
        color: #ba1a63;
        text-decoration: none; 
    }

    #facebook {
        position: relative;
        margin: 10px;
        margin-right: -30px;
    }

    #twitter {
    	position: relative;
        margin: 10px;
        margin-right: -30px;
    }

    #mail {
    	position: relative;
        margin: 10px;
        margin-right: -30px;
    }

    #nav_logo img {
        position: absolute;
        width: 32px;
        margin-top: -8px;
        margin-left: -2%;
    }

    #donate {
        font-size: 115%;
        margin-top: -14px;
        margin-right: -5px;
    }

    #donate a {
        color: white;
        background-color: #ba1a63;
        padding: 10px;
    }
}

// Landing Page 
#kubmo_logo img {
    width: 350px;
    position: relative;
    margin-left: 5%;
    margin-top: 100px;
    z-index: 10;
}

#box {
  width: 350px;
  height: 295px;
  margin-top: 25px;
  margin-left: 5%;
  background-color: #A8A8A8;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  z-index: -999;
  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#click {
    position: relative;
    margin-top: -90px;
    margin-left: 5%;


    background-color: #ba1a63;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
    -o-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
  
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  
    color: #fff;
    font-family:Bitter;
    font-size: 100%;
    height: 35px;
    width: 180px;
}

#mission {
    position: absolute;
    font-family: myriad pro;
    font-size: 112.5%;
    color: white;
    letter-spacing: 1px;
    line-height: 25px;
    z-index: 10px;
    margin-left: 7%;
    margin-top: -275px;
    width: 300px;
}

#Meet a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-family: myriad pro;
    font-size: 100%;
    letter-spacing: .9px;
    margin-left: 7%;
    font-weight: lighter;
}

#triangle {
    position: absolute;
    width: 10px;
    margin-left: 45%;
}

#Meet a h3 {
    margin-top: -55px;
}

#Meet a:hover {
    color:#ba1a63;
    font-weight: bold;
}


#background_image img {
    width: 1800px;
    position: absolute;
}

#photo_credit {
    color: white;
}

#girls_index {
    height: 500px;
    width: 100%;
    background-color: white;
    margin-top: 180px;
    position: absolute;
}

    #girls_index_marriel {
        margin-left: 5%;
        margin-top: 70px;
    }

    #index_text #click_marriel {
        margin-top: 40px;
        margin-right: 55%;
        margin-bottom: 10px;

        background-color: #ba1a63;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #fff;
        font-family:Bitter;
        font-size: 100%;
        height: 25px;
        width: 180px;
    }

    #index_text {
        float: right;
        margin-right: 55%;
    }

    #index_text h1{
        font-family: bitter;
        font-weight: bold;
        padding-bottom: 20px;
        font-size: 112%;
        margin-top: 27px;
    }

    #index_text h2 {
        font-family: myriad pro;
        font-weight: bold;
        padding-top: 10px;
    }

    #index_text p {
        font-family: myriad pro;
    }

    #girls_index_kate {
        margin-left: 5%;
        margin-top: 40px;
    }

    #index_text_2 #click_kate {
        margin-top: 40px;
        margin-right: 55%;

        background-color: #ba1a63;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #fff;
        font-family:Bitter;
        font-size: 100%;
        height: 25px;
        width: 180px;
        margin-bottom: 200px;
    }

    #index_text_2 {
        float: right;
        margin-right: 60%;
    }

    #index_text_2 h1 {
        font-family: bitter;
        font-weight: bold;
        padding-bottom: 20px;
        font-size: 112%;
        margin-top: 27px;
    }

    #index_text_2 h2 {
        font-family: myriad pro;
        font-weight: bold;
        padding-top: 10px;
    }

    #index_text_2 p {
        font-family: myriad pro;
    }



  



// about page

#kubmo_logo_2 {
    margin-left: 65px;
    margin-top: 15px;
}

#kubmo_logo_2 #line {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #000000;
    margin-right: 180px;
    margin-top: 15px;
}

#problem {
    width: 940px;
    margin-top: 30px;
    margin-left: 65px;
}

#problem h1 {
    font-family: bitter;
    font-weight: bold;
}

#problem p {
    margin-top: 15px;
    font-family: myriad pro;
}

#solution {
    width: 940px;
    margin-top: 30px;
    margin-left: 65px; 
}

#solution h1 {
    font-family: bitter;
    font-weight: bold;
}

#solution p {
    margin-top: 15px;
    font-family: myriad pro;
}


//marriel
    
#marriel_img {
    width: 220px;
    margin-left: 65px;
    margin-top: 30px;
    float: left;
    padding-right: 30px;
}

.text {
    margin-top: 30px;
    font-family: myriad pro;
    margin-right: 500px;
    margin-left: 65px;
}

.text h1 {
    font-family: bitter;
    font-size: 24px;
    margin-bottom: 15px;
}

.text h2 {
    font-weight: bold;
    position: inline-block;
    float: left;
    line-height: 25px;
}

.text p {
    padding-bottom: 15px;
    line-height: 25px;
}

.text li {
    line-height: 25px;
    list-style-type: circle;
    margin-left: 20px;
}

.text .list_of_tech {
    list-style-type: circle;
    margin-left: 30px;
}

#marriel #donate {
    position: absolute;
    margin-left: 730px;
    margin-top: -635px;
    vertical-align: top;
    float: right;

    background-color: #404041;
    cursor: pointer;
    float: right;
    margin-right: 40px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
    -o-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
  
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  
    color: #fff;
    font-family:Bitter;
    font-size: 14px;
    height: 25px;
    width: 45px;
}


//kate

#kate_img {
    margin-left: 65px;
    margin-top: 30px;
    float: left;
    padding-right: 30px;
}

#kate_response {
    position: absolute;
    margin-left: 750px;
    margin-top: -578px;
    vertical-align: top;
    float: right;
}

#kate_response p {
    padding-bottom: 15px;
    font-family: myriad pro;
    font-weight: bold;
    color: #ba1a63;
    font-size: 20px;
    margin-right: -20px;
}

#kate_response a button {
    background-color: #404041;
    cursor: pointer;
    float: right;
    margin-right: 20px;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
    -o-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
  
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  
    color: #fff;
    font-family:Bitter;
    font-size: 14px;
    height: 25px;
    width: 45px;
}

#kate_comment {
    position: absolute;
    float: right;
    top: 130px;
    left: 700px;
}

#kate_comment form {
    float: right;
    margin-right: -20px;
}

 #kate_comment #kate_button {
        position: inline-block;
        vertical-align: top;
        float:right;
        margin-top: 10px;
        margin-right: 425px;
        background-color: #404041;
        cursor: pointer;
        

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #fff;
        font-family:Bitter;
        font-size: 14px;
        height: 25px;
        width: 85px;
       
}


//email thank you
.thanks {
    margin-left: 65px;
    padding-top: 45px;
    font-family: 'Bitter', serif;
    font-size: 20px; 
}

//blog

#blog_content {
    margin-right: 150px;
}

#blog_content #kubmo_logo_2 {
    margin-bottom: 30px;
}

//footer

#footer {
    background: #292929;
    position: fixed;
    height: 80px;
    clear:both;
    bottom:0px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-left: -20px;
    opacity: 0.3;
}

#footer:hover {
    opacity: 1;
}

    #footer_links {
        display: inline-block;
        float: left;
        font-family: myriad pro;
        color: white;
        text-decoration: none;
        margin-top: 5px;
        margin-left: 30px;
        padding-top: 3px;
    }

    #footer_content {
        width: 70%;
    }

    #footer_links a {
        float: left;
        vertical-align: text-top;
        font-family: myriad pro;
        color: white;
        text-decoration: none;
        font-size: 90%;
        position: absolute;
    }

    #footer_links a:hover {
        color: #ba1a63;
    }

    #footer_email {
        padding-top: 15px;
        margin-left: 10px;
    }


    #footer_twitter {
        padding-top: 30px;
        margin-left: 10px;
    }

    #footer_facebook {
        padding-top: 45px;
        margin-left: 10px;
    } 



     




