//home page 
.splash {
    background: url('/images/girl_2.png') 0 0 no-repeat;
    position: relative;
    width: 1400px;
    height: 1000px;
    color: #fff;
    font-weight: lighter;
    margin-top: -8px;

    .button_1 {
        position: absolute;
        left: 86px;
        padding-top:200px;

    }

    .button_1 #field {
        margin-bottom: 18px;
    }

    .content {
        position: absolute;
        top: 280px;
        left: 88px;
        font-family: 'Droid Sans', sans-serif;
        font-size: 20px;
        font-weight: lighter;
    }

    .logo {
        padding-top: 120px;
        padding-left:85px;
    }

    .logo img {
        width: 450px;
        height: 13  0px;
    }

    .button_1 button {
        background-color: #ba1a63;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #202020;
        font-family:'Droid Sans', sans-serif;
        font-size: 18px;
        font-weight:bold;
        height: 35px;
        width: 155px;

    }
    

    .button_1 form #field {
        height: 35px;
        width: 148px;
        opacity:0.6;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;   
    }

}
//Marriel's page 

.marriel {
    background: url('/images/Marriel-1.png')no-repeat center;
    width: 1400px;
    height: 1400px;
    font-family:'Bitter', serif;
    font-size: 20px;
    color: #fff;
    background-color: #3fb67a;
}
.marriel #response {
    margin-left: 600px;
    padding: 50px;
    padding-top: 1090px;
}

.marriel #comment{
    position: absolute;
    margin-top: 1155px;
    margin-left: 250px;

}

.marriel #comment input {
    height: 100px;
    width: 250px;
    margin-right: 10px;
}
.marriel #response a button {
     background-color: #3fb67a;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #000;
        font-family:'Bitter', serif;
        text-transform: uppercase;
        font-size: 13px;
        height: 25px;
        width: 80px;
        margin-right: 40px;
}    

.marriel #comment button {
       background-color: #3fb67a;
        cursor: pointer;
        display: inline-block;
        vertical-align: bottom;
        float: left;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #000;
        font-family:'Bitter', serif;
        text-transform: uppercase;
        font-size: 13px;
        height: 25px;
        width: 80px;
        margin-right: 60px;
        margin-top: 20px;
}

//Kate's page 

.kate {
    background: url('/images/kate_sheila.png')no-repeat center;
    width: 1400px;
    height: 1400px;
    font-family:'Bitter', serif;
    font-size: 20px;
    color:#fff;
    background-color: #3fb67a;
}
.kate #response {
    margin-left: 290px;
    padding-top:930px;
    padding-left: 330px ;
}

.kate #comment{
    position: absolute;
    margin-top: 900px;
    margin-left: 260px;

}

.kate #comment input {
    height: 100px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
}

.kate #response a button {
     background-color: #3fb67a;
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #000;
        font-family:'Bitter', serif;
        text-transform: uppercase;
        font-size: 13px;
        height: 25px;
        width: 80px;
        margin-right: 70px;
}    

.kate #comment button {
       background-color: #3fb67a;
        cursor: pointer;
        display: inline-block;
        vertical-align: bottom;
        float: left;
        margin-left: 20px;

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;

        -webkit-box-shadow: 2px 2px 5px #888;
        -moz-box-shadow: 2px 2px 5px #888;
        -o-box-shadow: 2px 2px 5px #888;
        box-shadow: 2px 2px 5px #888;
  
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        color: #000;
        font-family:'Bitter', serif;
        text-transform: uppercase;
        font-size: 13px;
        height: 25px;
        width: 80px;
        margin-right: 60px;
        margin-top: 20px;
}
// Thank you for signing up (with email)

.thanks {
    background: url('/images/girl_2.png') 0 0 no-repeat;
    position: absolute;
    width: 1400px;
    height: 1400px;
    font-family:'Bitter', serif;
    font-size: 12px;
    color: #3fb67a;
    padding-top: 260px;
    padding-left: 20px;
    }

    h2 {
        padding-left:220px;
    }

 //Thank you (marriel and kate feedback)

 .thank_you {
    background: url('/images/girl_2.png') 0 0 no-repeat;
    position: absolute;
    width: 1400px;
    height: 1400px;
    font-family:'Bitter', serif;
    font-size: 12px;
    color: #3fb67a;
    padding-top: 260px;
    padding-left: 75px;
    }

    h2 {
        padding-left:130px;
 }

 //top nav bar 

.top_nav {
    position: absolute;
    width: 1800px;
    height: 50px;
    font-family:'Bitter', serif;
    font-size: 20px;
    font-color:#fff;
    background-color:#303030;
}

    #navbar  {
        margin: 0;
        padding: 0;
        height: 1em; 
        margin-left: 45px;
    }
    #navbar  li {
        list-style: none;
        float: left; 
        margin-right: 4px;
        margin-left: 75px;
        margin-top: 10px;
    }

    #navbar  li a {
        display: block;
        padding: 3px 8px;
        background-color: inherit;
        color:  #fff ;
        text-decoration: none; 
    }

    #navbar  li ul {
        display: none; 
        width: 10em; /* Width to help Opera out */
        background-color: inherit;
    }

    #navbar  li:hover ul {
        display: block;
        position: absolute;
        margin: 0;
        padding: 0; 
    }
    #navbar  li:hover li {
        float: none; 
    }
    #navbar  li:hover li a {
        background-color: inherit;
        border-bottom: 1px solid  #fff ;
        color: #fff;
    }

    #navbar  li li a:hover {
        background-color: inherit; 
        font-size:110%;
    }

//about page 
.about {
    margin-left: 40px;
    font-family: 'Droid Sans', sans-serif;
    font-color: #100000;
    font-weight: lighter;
    margin-top: -3px;
    padding-bottom: 100px;
}
    h1 {
    text-indent: none;
    position: relative left;
    border-top: 1px solid #000;
    padding-top: 35px;
    font-size: 25px 
}

    #logologo img {
    position: relative;
    width:300px;
    height:100px;
    margin-right: 2500px;
    padding-bottom: 20px; 
    margin-top: 20px;
}

    h3  {
    padding-top: 45px;
    font-size: 25px;        
    }

//contact page 
.contact {
    
}

//blog page
.blog {
    border-bottom: 1px solid #000;
    padding-left: 30px;
    margin-top: -8px;
}

//why donate page
.why {
    border-top: 1px solid #000;
} 
    h4 {
        position: relative;
        font-size: 16px;
        margin-left: 30px;
        margin-top: 45px;
    }  

    

   

    

